################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/esports/bin
/esports/obj/Debug
